# List and its default functions

In [ ]:
lst=["cat","dog"]

In [4]:
#1.append
lst = ["cat", "dog"]
print(lst)
lst.append("animal")
print(lst)

['cat', 'dog']
['cat', 'dog', 'animal']

In [5]:
#2.extend
lst = ["cat", "dog"]
print(lst)
lst.extend("animal")
print(lst)

['cat', 'dog']
['cat', 'dog', 'a', 'n', 'i', 'm', 'a', 'l']

In [9]:
#3.insert
lst = ["cat", "dog"]
print(lst)
lst.insert(0,"animal")
print(lst)

['cat', 'dog']
['animal', 'cat', 'dog']

In [10]:
#4.remove
lst = ["cat", "dog"]
print(lst)
lst.remove("cat")
print(lst)

['cat', 'dog']
['dog']

In [11]:
#5.clear
lst = ["cat", "dog"]
print(lst)
lst.clear()
print(lst)

['cat', 'dog']
[]

# Dictionary and its default functions

In [12]:
dict = {"Name" : "akshay", "Age" : 20, "Class" : "btech"} 
print(dict)

{'Name': 'akshay', 'Age': 20, 'Class': 'btech'}

In [14]:
#1. len

dict = {"Name" : "akshay" , "Age" : 20, "Class" : "btech"}
print(len(dict))

3

In [15]:
#2. type

dict = {"Name" : "akshay", "Age" : 20, "Class" : "btech"} 
print(type(dict))

<class 'dict'>

In [16]:
#3. any

dict ={"Name" : "akshay", "Age" : 20, "Class" : "btech"} 
print(any(dict))

True

In [ ]:
#4. sorted

dict = {"Name" : "akshay", "Age" : 20, "Class" : "btech"}
print(sorted(dict))

In [17]:
#5. get 

dict = {"Name" : "akshay", "Age" : 20, "Class" : "btech"} 
print(dict.get("Name"))

akshay

# sets and its default function

In [18]:

st = {"akshay", "more", 28, 12, 1999} 
print(st9

{'akshay', 'more', 12, 1999, 28}

In [20]:
#1. intersection 

st1 = {"akshay", "more", 28, 12, 1999} 
st2 = {28, 12, 1997, "Ramesh", "patil"} 
print(st1.intersection(st2))

{12, 28}

In [21]:
#2. issubset 

st1 = {"akshay", "more", 28, 12, 1999} 
st2 = {"akshay", 1999}
print(st1.issubset(st2))

False

In [2]:
#3. remove

st = {"akshay", 28, 12, 1999} 
st.remove(28) 
print(st)

{12, 'akshay', 1999}

In [4]:
#4. update 

st1 = {"akshay", 28, 12, 1999} 
st2 = {"more", 1}
st1.update(st2) 
print(st1)

{1, 'more', 'akshay', 12, 28, 1999}

In [5]:
#5. Union

st1 = {"akshay", 28, 12, 1999} 
st2 = {"more", 27, 12, 1999}
print(st1.union(st2))

{12, 1999, 'more', 27, 28, 'akshay'}

 Tuple and explore its default method

In [9]:
tup = ("akshay","more", 28, 12, 1999) 
print(tup)

('akshay', 'more', 28, 12, 1999)

In [1]:
#1. count

tup = ("akshay", "more", "akshay", 28, 12, 1999) 
print(tup.count("akshay"))

2

In [3]:
#2.index

tup = ("akshay", "more", 28, 12, 1999) 
print(tup.index(28))

2

In [5]:
#3.len

tup = ("akshay", 28, 12, 1999) 
print(len(tup))

4

In [7]:
#4.max
tup=(8,28,12,1999)
print(max(tup))

1999

In [ ]:
# 5.min
tup=(8,28,12,1999)
print(min(tup))

#string and its default method

In [9]:
str="its akshay"

In [10]:
#1. Capitalize 

str = "its akshay" 
print(str.capitalize())

Its akshay

In [11]:
#2. Index

str = "its akshay" 
print(str.index("akshay"))

4

In [13]:
#3. lower

str = "ITS AKSHAY" 
print(str.lower())

its akshay

In [14]:
#4. title 

str = "its akshay" 
print(str.title())

Its Akshay

In [15]:
#5. center

str = "its akshay" 
print(str.center(48))

                   its akshay